.colorGreen {
  color: $green !important;
}
.colorGrey-500 {
  color: $grey-500 !important;
}
.mobileHidden {
  @media screen and (max-width: 530px) {
    display: none;
  }
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.themeBorder {
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.5rem;
}

.dividerLine {
  width: 100%;
  border: 1px solid $grey-100;
  margin: 1rem 0;
  opacity: 100%;
  &.lineDark {
    border: 1px solid $grey-500;
    opacity: 15%;
  }
}

.avatar {
  width: 2rem;
  height: 2rem;
}
.avatarBig {
  width: 2.5rem;
  height: 2.5rem;
}

// MASONRY GRID
.gridContainer {
  .gridContainer:after {
    content: '';
    display: block;
    clear: both;
  }
  .gridSizer,
  .gridItem {
    width: 50%;
    @media screen and (max-width: 769px) {
      width: 100%;
    }
  }
  .gridItem {
    height: fit-content;
  }
}

.mobileNavBar {
  height: $navBar-height-tablet;
  @media screen and (max-width: 530px) {
    height: $navBar-height-mobile;
  }
  .linkLabel {
    @media screen and (max-width: 530px) {
      display: none;
    }
  }
  .linkIcon {
    @media screen and (max-width: 530px) {
      margin-bottom: 0.625rem !important;
    }
  }
}
.activeClass {
  background-color: $beige-100;
  color: $grey-900 !important;
  path {
    fill: $green !important;
  }
}
.desktopSidebar {
  width: $sidebar-width;
  transition: all 0.3s ease;
  height: 100vh;
  position: sticky;
  top: 0;
  &.collapsed {
    width: $sidebar-width-collapsed !important;

    .rotateSvg {
      transform: rotate(180deg);
    }
  }
}

.formContainer {
  min-width: 13.438rem;
  .inputClass {
    position: relative;
  }
  .iconContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 32%;
    right: 9%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}

.progressbarLarge {
  --bs-progress-height: 1.5rem;
  width: 100%;
}

.chartOuterContainer {
  max-height: 15rem;
  .chartCanvas {
    position: relative;
    height: 15rem;
    width: 15rem;

    @media screen and (max-width: 530px) {
      margin-top: 0;
    }
  }
}

.pagination {
  .pagination-container {
    column-gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }
  .paginate-buttons {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $beige-500;
    color: black;
    &:hover {
      background-color: $grey-500;
      border: 1px solid $grey-500;
      color: $white;
    }
    &.active {
      background-color: $grey-900;
      border: 1px solid $grey-900;
      color: $white;
    }
    &.active:hover {
      background-color: $grey-900;
      border: 1px solid $grey-900;
      color: $white;
    }
  }
  .back-button,
  .next-button {
    height: 2.5rem;
    width: 5.875rem;
    @media screen and (max-width: 530px) {
      width: 3rem;
    }
    &:active {
      background-color: $grey-900;
      border: 1px solid $grey-900;
      color: $white;
    }
  }
  li:has(> .back-button) {
    margin-right: auto;
  }
  li:has(> .next-button) {
    margin-left: auto;
  }
}
