// DESIGN SYSTEM
$beige-500: #98908b;
$beige-100: #f8f4f0;

$grey-900: #201f24;
$grey-500: #696868;
$grey-100: #f2f2f2;

$green: #277c78;
$yellow: #f2cdac;
$navy: #626070;
$red: #c94736;
$purple: #af81ba;
$turquoise: #597c7c;
$magenta: #934f6f;
$blue: #3f82b2;
$army-green: #7f9161;
$gold: #cab361;

$white: #ffffff;

// BOOTSTRAP OVERRIDES

$body-color: $grey-900;
$body-bg: $beige-100;
