// DESIGN SYSTEM

$preset-1: 2rem;
$preset-2: 1.25rem;
$preset-3: 1rem;
$preset-4: 0.875rem;
$preset-5: 0.75rem;

$font-family-base: 'Public Sans';

$line-height-base: 1.5;
$line-height-lg: 1.2;

$h1-font-size: $preset-1;
$h2-font-size: $preset-2;
$h3-font-size: $preset-3;
$h4-font-size: $preset-4;
$h5-font-size: $preset-5;
