// FONT
$font-family-base: 'Public Sans';
$preset-1: 2rem;
$preset-2: 1.25rem;
$preset-3: 1rem;
$preset-4: 0.875rem;
$preset-5: 0.75rem;
$line-height-base: 1.5;
$line-height-lg: 1.2;
$h1-font-size: $preset-1;
$h2-font-size: $preset-2;
$h3-font-size: $preset-3;
$h4-font-size: $preset-4;
$h5-font-size: $preset-5;

// COLORS
$beige-500: #98908b;
$beige-100: #f8f4f0;
$grey-900: #201f24;
$grey-500: #696868;
$grey-300: #b3b3b3;
$grey-100: #f2f2f2;
$green: #277c78;
$yellow: #f2cdac;
$navy: #626070;
$red: #c94736;
$purple: #af81ba;
$turquoise: #597c7c;
$magenta: #934f6f;
$blue: #3f82b2;
$army-green: #7f9161;
$gold: #cab361;
$white: #ffffff;
$cyan: #82c9d7;

$colors: (
  'beige-500': $beige-500,
  'beige-100': $beige-100,
  'grey-900': $grey-900,
  'grey-500': $grey-500,
  'grey-300': $grey-300,
  'grey-100': $grey-100,
  'green': $green,
  'yellow': $yellow,
  'navy': $navy,
  'red': $red,
  'purple': $purple,
  'turquoise': $turquoise,
  'magenta': $magenta,
  'blue': $blue,
  'army-green': $army-green,
  'gold': $gold,
  'white': $white,
  'cyan': $cyan,
);

// LAYOUT
$spacers: (
  0: 0,
  1: 0.25rem,
  //4px
  2: 0.5rem,
  //8px
  3: 0.75rem,
  //12px
  4: 1rem,
  //16px
  5: 1.25rem,
  //20px
  6: 1.5rem,
  //24px
  7: 2rem,
  //32px
  8: 2.5rem, //40px
);

$sidebar-width: 18.75rem;
$sidebar-width-collapsed: 5.5rem;
$navBar-height-tablet: 4.625rem;
$navBar-height-mobile: 3.25rem;

$body-bg: $beige-100;
$body-bg-rgb: (248, 244, 240);
$body-color: $grey-900;
$body-color-rgb: (32, 31, 36);
$progress-height: 0.5rem;
$dropdown-bg: $white;
$dropdown-border-color: $white;
$dropdown-divider-bg: $grey-100;
$dropdown-padding-y: 12px;
$dropdown-padding-x: 20px;
$dropdown-item-padding-y: 0;
$dropdown-item-padding-x: 0;
$dropdown-divider-margin-y: 12px;
$dropdown-min-width: none;
$bs-dropdown-link-hover-color: initial;
$dropdown-link-hover-bg: transparent;
$bs-gradient: none;
$table-bg: $white;
$input-placeholder-color: $beige-500;
$input-font-size: $preset-4;
